
nav {
  height: 40px;
  width: 100%;
  background-color: rgba(11, 11, 11, 0.95);
  color: #eee;
  position: fixed;
  font-family: "Reem Kufi",serif;
  border-bottom: 1px solid #fff;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
nav li {
  /* display: inline; */
  float: left;
}

nav .title {
    width: 170px;
    color: #f55;
}

nav .title:hover {
  color: #fff;
}

.blog, .cv {
  float: right;
}

.blog a, .cv a {
  color: #f55;
}

.blog a:hover,
.cv a:hover {
  color: #fff;
}

nav a {
  display: inline-block;
  width: 80px;
  text-align: center;
  text-decoration: none;
  padding: 5px 0;
  color: #eee;
  text-decoration: none;
}
nav li:hover {
  background-color: rgb(168, 63, 63);
}
nav a#openup {
  display: none;
}

@media screen and (max-width: 550px) {

  nav .title {
    display: none;
}

  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: center;
    width: 100%;
    /* text-indent: 25px; */
    background: rgba(11, 11, 11, 0.95);
    border-bottom: 1px solid #eee;

  }
  nav a:hover {
    background: rgb(168, 63, 63);
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
  }
  nav a#openup {
    display: block;
    background-color: rgba(11, 11, 11, 0.95);
    width: 100%;
    position: relative;
  }
}
.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* For IE 6/7 (trigger hasLayout) */
