@import url('https://fonts.googleapis.com/css?family=Barlow|Overlock:700|Reem+Kufi|Taviraj:400,600');


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Barlow', sans-serif;
  background-color: #eee;
  margin: 0;
  line-height: 1.6;
}

#showcase {
    margin: 0;
    padding: 0;
    background:  url('../img/me.png') no-repeat center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;

}

.container {
  font-family: "Reem Kufi", sans serif;
  margin-top: 30vh;
  margin-left: 1rem;
  color: #fff;
  padding-bottom: 4rem;
  
}

.container h1 {
  font-size: 10rem;
}

.container h2 {
  font-size: 7rem;
  margin-top: -5rem;
}

.container h3 {
  font-size: 2rem;
  margin-top: -2.5rem;
  margin-left: 20rem;
}

/* overview section */

.overview {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 6rem 4rem;
  
  
}

.overview h2 {
  font-size: 3rem;
}

.overview p {
  font-size: 1.2rem;
  font-family: 'Barlow',sans serif;
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}

p.skills {
  color: #f66;
}

.overview img {
  width: 80%;
  margin: 2rem auto 0 auto;
}



/* footer */

.footer {
  background: #f66;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 3rem;
  color: #222;
  margin-right: 2rem;
 
}

.footer-list li {
  padding-left: 2rem;
}

.footer a {
  text-decoration: none;
  color: #222;
  
  
  
}

.footer a:hover {
  color: #111;
}

.copyleft {
  text-align: center;
  margin-top: -1.5rem;
  position: relative;
  padding-bottom: 2rem;
  color: #222;
}

.fa-copyright {
  display:inline-block;
  transform: rotate(180deg);
}

/* Utility styling */

.section-title {
  font-family: 'Taviraj', sans serif;
  font-weight: 400;
  padding-top: 2rem;  
  text-align: center;
}

.mockup-caption {
  font-size: 1rem;
  font-family: 'Barlow',sans serif;
  margin: 0 auto;
  padding: 1rem 0;
  display: block;
  color: #f88;
  text-decoration: none;

  max-width: 80vw;
}

.mockup-caption:hover {
  color: #f44;
}

.code-btn {
  text-align: center;
  display: inline-block;
  background: #f88;
  padding: .3rem 1rem;
  max-width: 60px;
  margin-top: -1rem;
  font-size: .7rem;
  color: #111;
  border-radius: 5px;
  
}

.code-btn:hover {
  background: #f44;
  color: #000;
}

/* media query */

@media (max-width: 1228px) {
  .container {
    margin-top: 50vh;
  }
}

@media (max-width: 1000px) {
  .container {
    margin-top: 55vh;
  }

  .overview img {
    width: 90%;
    margin: 2rem auto 0 auto;
  }
}



@media (max-width: 880px) {

  #showcase {
    height: 80vh;
  }

  .container {
    margin-top: 40vh;
  }

  .container h1 {
    font-size: 7rem;
  }

  .container h2 {
    font-size: 5rem;
    margin-top: -4rem;
  }

  .container h3 {
    font-size: 1.8rem;
    margin-top: -2rem;
    margin-left: 10rem;
  }

  

}

@media (max-width: 660px) {

  .overview {
    padding: 4rem 2rem;
  }

  .overview h2 {
    font-size: 2.2rem;
  }

  .overview p {
    width: 100%;
  }
}

@media (max-width: 615px) {

  #showcase {
    height: 80vh;
  }

  .container {
    margin-top: 40vh;
  }

  .container h1 {
    font-size: 5rem;
  }

  .container h2 {
    font-size: 3.5rem;
    margin-top: -2rem;
  }

  .container h3 {
    font-size: 1.5rem;
    margin-top: -1rem;
    margin-left: 15vw;
  }

  .footer-list {
    display: block;
    text-align: center;
  }

  .overview img {
    width: 100%;
    margin: 2rem auto 0 auto;
  }

}

@media (max-width: 440px) {

  #showcase {
    height: 80vh;
  }

  .container {
    margin-top: 40vh;
  }

  .container h1 {
    font-size: 4.5rem;
  }

  .container h2 {
    font-size: 2.8rem;
    margin-top: -2rem;
  }

  .container h3 {
    font-size: 1.3rem;
    margin-top: -1rem;
    margin-left: 10vw;
  }

  .mockup-caption {
  font-size: .8rem;
  }


}

/*# sourceMappingURL=style.css.map */




