@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lora');
body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: 'Lora', serif;
}

/*--- navigation bar ---*/

.navbar {
  background: #fff;
  border-bottom: 2px solid #222;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(32, 32, 32, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-link,
.navbar-brand {
  color: #222;
  cursor: pointer;
}

.navbar-brand {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5rem;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover, 
.navbar-brand:hover {
  border-bottom: 2px solid #222;
  color: #222;
}

.navbar-collapse {
  justify-content: flex-end;
}

/* header */

.header {
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.description h1 {
  color: #fff;
  font-family: 'Abril Fatface', cursive;
  font-size: 3rem;
}

.description p {
  color: #eee;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Lora', cursive;
}

.description button, .forums button {
  border:1px solid #111;
  background:#111;
  border-radius: 5px;
  color:#fff;
  font-size: 1rem;
  margin-top: 2rem;
}

.description button:hover, .forums button:hover {
  border:1px solid #fff;
  background:#fff;
  color:#000;
}


/* articles */

.section-title{
  font-family: 'Abril Fatface', serif;
  font-size: 3rem;
  text-align: center;
  margin: 1rem auto 2rem auto;
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.row2 {
  margin-bottom: 3rem;
}

/* pagination */

.page-link {
  color: #111;
}

.page-item.active .page-link {
  background-color: #222;
  border: 1px solid #222;
}


/* forums */

.forums {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),url('../img/forums.jpg');
  background-size: cover;
  background-position: center; 
  color: #fff; 
  text-align: center;
}

.forums h1 {
  padding-top: 5rem;
}

.forums p {
  font-size: 1.2rem;
  width: 70vw;
  
  margin: 2rem auto;
}

.forums button {
  margin-bottom: 5rem;
  background: #fff;
  border: #fff 1px solid !important;
  color: #222;
}

.forums button:hover {
  background: #d4bb8c;

}

/* contact form */

.contact-form {
  max-width: 700px;
  margin: 2em auto;
  
}

.contact-form h3 {
  text-align: center;
  font-size: 2rem;
  margin-top: 6rem;
}

.contact-form p {
  text-align: center;
  padding: 0 1rem;
}

.contact-form .form-control {
  border: 1px solid #222;
  max-width: 90vw !important;
  margin: 0 auto;
}

.contact-form .btn {
  max-width: 100px;
  margin: 1rem auto;
  background: #222;
  margin-bottom: 6rem;
}

.contact-form .btn:hover {
  color: #222;
  background: #fff;
}


/* footer */

footer {
  border-bottom: 3px solid #f8eac5;
}

.page-footer {
  background-color: #222;
  color: #eee;
  padding: 60px 0 0 0;
}

.footer-copyright {
  color: #aaa;
  margin-top: 2rem;
}

footer a {
  color: #f8eac5;
}

a:hover {
  border-bottom: 1px #f8eac5 solid ;
  text-decoration: none;
  color: #f8eac5;
}

footer p {
  max-width: 70vw;
  margin: 0 auto;
}

@media (max-width: 575.98px) {

  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 20%;
    transform: none;
    text-align: center;
  }
  
  .description h1 {
    font-size: 2em;
  }
  
  .description p {
    font-size: 1rem;
  }
  
  .features {
    margin: 0;
  }

}