/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Bigshot+One|Crimson+Text|Patua+One');

/* Core Style */

* {
	font-size: 0.625rem;
}

// 
body {
	margin: 0;
	background: #F23F;
	color: #fff;
	font-size: 1.1em;
	line-height: 1.5;
	text-align: center;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 1em 0;
	font-family: 'Patua One', cursive;
	font-weight: 300;
}

p {
	margin: 0;
	padding: 1em 0;
	font-size: 1.8rem;
	font-family: "Crimson Text", sans-serif;
}

.btn {
	display: inline-block;
	background: #333;
	color: #fff;
	text-decoration: none;
	padding: 1em 2em;
	border: solid #666 1px;
	margin: 1em 0;
	font-family: 'Patua One', cursive;
	font-size: 2rem;

	&:hover {
		color: #f23;
		background: #222;
	}
}


/* Header */

#showcase {
	min-height: 520px;
	// max-height: 650px;
	color: #fff;
	text-align: center;

	.bg-img {
		position: absolute;
		background: #333 url('./img/header-cover.jpg');
		background-position: center;
		background-repeat: repeat-y;
		background-size: cover;
		width: 100%;
		height: 520px;
		z-index: -1;
		opacity: 0.3;
	}



	h1 {
		padding-top: 30px;
		padding-bottom: 0;
		width: 90%;
		margin: 0 auto;
		font-size: 4.5rem;
	}

	.content-wrap {
		padding: 0 .5em;
	}

	p {
		padding: 0 1em;
		width: 70%;
		margin: 0 auto;
	}
}

/* Section A */

#section-a {
	background: #222;
	padding: 1.5em;

	h2 {
		font-size: 3.2rem;
		padding: .5em;
	}

	p {
		width: 90%;
		margin: -1rem auto 1rem auto;
	}

}

/* section B */

#section-b {
	padding: 2em 1em 1em;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		margin-bottom: 1em;
		border-bottom: 5px solid #222;
		background: #fff;
		color: #111;

		.border-white {
			width: 95%;
			height: auto;
			margin: 0 auto;
			padding: 10px 0 10px 0;
			// border: solid 2px #000;
		}


		p {
			padding: 1em 1em;
		}

		.card-title {
			font-size: 2.5rem;
		}

	}
}

/* section C */

#section-c {
	background: #222;
	padding: 2em;
	margin-top: 1.5em;

	h2 {
		font-size: 3rem;
	}

	p {
		width: 85%;
		margin: 0 auto 1em auto;
	}

}

/* section D */

#section-d {
	.box {
		padding: 2em;

		h2 {
			font-size: 3rem;
		}

		p {
			width: 85%;
			margin: 0 auto;
		}
	}

	.box-left {
		background: #fff;
		color: #222;

		h2 {
			color: #f11;

		}

		a {
			color: #f33;
			text-decoration: none;
			font-family: "Crimson Text", sans-serif;
			font-size: 2rem;

			&:hover {
				color: #f11;
			}
		}
	}

	.box-right {

		a {
			color: #fff;
			text-decoration: none;
			font-family: "Crimson Text", sans-serif;
			font-size: 2rem;
			background: #222;
			display: inline-block;
			padding: 1em 2em;
			margin: .5em 0;

			&:hover {
				color: #f11;
				background: #333;
			}
		}

	}
}

/* footer */

#main-footer {
	padding: 1em 2em;
	background: #222;
	text-align: center;

	.footer-p {
		font-family: "Crimson Text";
		font-size: 1.4rem;
		color: #bbb;
		padding: 0 -1em;
	}

	a {
		color: #F55;
		text-decoration: none;
		font-family: "Crimson Text";
		font-size: 1.4rem;
	}


}

/* Media Queries */

@media(min-width: 700px) {
	.grid {
		display: grid;
		grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
	}

	#section-a p {
		columns: 2;
		column-gap: 3em;
	}

	.content-wrap,
	#section-b ul {
		grid-column: 1/5;
	}

	.box,
	#main-footer p {
		grid-column: span 2;
	}

	#section-b {

		ul {
			display: flex;
		}

		li {
			width: 33%;
			margin: 0 10px;
		}

	}

	#showcase h1 {
		margin-top: 140px;
	}

}